<template>
  <div>
    <section class="section-header">
      <div class="p-5">
        <h1>Hi, William,</h1>
        <br />
        <h3>You have 2 task in your to-do-list today</h3>
      </div>
    </section>
    <section class="section-toolbar">
      <ToolBar @onSendToSave="doSaveTask" @onChangeDate="doChangeDate" />
    </section>
    <section class="section-todo">
      <div class="p-5">
        <div class="text-md font-bold pb-2">TO DO ({{ unfinishedTasks.length }})</div>
        <task-list :tasks="unfinishedTasks" @onUpdateTask="doUpdateTask" />
      </div>
    </section>
    <section class="section-todo">
      <div class="p-5">
        <div class="text-md font-bold pb-2">COMPLETED ({{ finishedTasks.length }})</div>
        <task-list :tasks="finishedTasks" @onUpdateTask="doUpdateTask" />
      </div>
    </section>
  </div>
</template>

<script lang="ts">
// @ts-ignore
import { mapState, mapActions, mapGetters } from 'pinia'
import ToolBar from '../components/ToolBar.vue'
import { useCalendarStore } from '@/stores/calendar'
import { useTaskStore } from '@/stores/task'
import type { ITask } from '@/infra/types/interfaces/task.interface'
import TaskList from '../../domain/tasks/TaskList.vue'
//const calendar = useCalendarStore()
export default {
  components: {
    ToolBar,
    TaskList
  },
  computed: {
    ...mapState(useCalendarStore, ['date']),
    ...mapGetters(useTaskStore, ['tasks', 'finishedTasks', 'unfinishedTasks'])
  },
  methods: {
    ...mapActions(useCalendarStore, ['changeDate']),
    ...mapActions(useTaskStore, ['addTask', 'allTasks', 'editTask']),
    doSaveTask(taskName: any) {
      // console.log(this.date?.getDate())
      const newTask: ITask = {
        name: taskName,
        isCompleted: false,
        date: this.date as Date
      }
      this.addTask(newTask)
    },
    doChangeDate(date: any) {
      this.changeDate(date)
    },
    doUpdateTask(oldTask: ITask) {
      const newTask: ITask = {
        ...oldTask,
        isCompleted: !oldTask.isCompleted
      }
      this.editTask(newTask)
    }
  },
  created() {
    this.allTasks()
  }
}
</script>

<style lang="scss" scoped>
.section-header {
  div {
    line-height: 18px;
    h1 {
      font-size: 30px;
    }
    h3 {
      font-size: 20px;
    }
  }
}
</style>
