<template>
  <div class="relative">
    <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
      <svg
        class="svg-icon"
        style="
          width: 1em;
          height: 1em;
          vertical-align: middle;
          fill: currentColor;
          overflow: hidden;
        "
        viewBox="0 0 1024 1024"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M430 735.2c-168 0-308-140-308-308s140-308 308-308 308 140 308 308-140 308-308 308zM721.2 640C766 578.4 794 505.6 794 427.2c0-201.6-162.4-364-364-364S66 225.6 66 427.2s162.4 364 364 364c78.4 0 151.2-28 212.8-67.2l218.4 218.4c22.4 22.4 56 22.4 78.4 0 22.4-22.4 22.4-56 0-78.4L721.2 640z"
          :fill="color"
        />
      </svg>
    </div>
    <input
      type="text"
      id="input-group-1"
      class="border border-gray-300 text-sm rounded-full block w-full pl-10 px-2.5 py-1"
      :class="[`placeholder:text-[${color}]`]"
      :placeholder="placeholder"
      :style="{ 'background-color': background, color: color }"
    />
  </div>
</template>

<script lang="ts" setup>
const props = defineProps<{
  /**
   * Placeholder of input
   */
  placeholder: string

  /**
   * background of input
   */
  background?: string

  /**
   * color of text, using tailwind syntax
   */
  color: string
}>()
</script>

<style></style>
