<template>
  <button
    class="border border-gray-200 min-w-[30px] min-h-[30px] rounded-full flex items-center justify-center"
    :style="{ backgroundColor: isCheck ? '#eee' : '#fff' }"
    @click="() => $emit('onClick')"
  >
    <span v-if="isCheck">
      <svg
        class="svg-icon"
        style="
          width: 1em;
          height: 1em;
          vertical-align: middle;
          fill: currentColor;
          overflow: hidden;
        "
        viewBox="0 0 1024 1024"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M384 722.752l489.344-489.408a32 32 0 0 1 45.312 45.312l-512 512a32 32 0 0 1-45.312 0l-256-256a32 32 0 1 1 45.312-45.312L384 722.752z"
        />
      </svg>
    </span>
  </button>
</template>

<script lang="ts" setup>
const props = defineProps<{
  isCheck: boolean
}>()
const emits = defineEmits<{
  (e: 'onClick'): void
}>()
</script>

<style></style>
