<template>
  <div class="flex flex-col">
    <Task
      v-for="task in tasks"
      :key="task.id"
      :is-completed="false"
      :task="task"
      @onClick="
        (e) => {
          $emit('onUpdateTask', e)
        }
      "
    />
  </div>
</template>

<script>
import Task from '../../ui/Task/Task.vue'
export default {
  props: ['tasks'],
  emits: ['onUpdateTask'],
  components: { Task }
}
</script>

<style></style>
