<template>
  <div class="task-form space-y-4 relative">
    <div class="absolute top-[-30px] right-[-10px]">
      <IconButton
        :outlined="false"
        color="#000"
        v-on:click="
          () => {
            $emit('onCloseFormTask')
          }
        "
      >
        <template #icon>
          <svg
            class="svg-icon"
            style="
              width: 1.5em;
              height: 1.5em;
              vertical-align: middle;
              fill: currentColor;
              overflow: hidden;
            "
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M512 128C300.8 128 128 300.8 128 512s172.8 384 384 384 384-172.8 384-384S723.2 128 512 128zM512 832c-179.2 0-320-140.8-320-320s140.8-320 320-320 320 140.8 320 320S691.2 832 512 832z"
            />
            <path
              d="M672 352c-12.8-12.8-32-12.8-44.8 0L512 467.2 396.8 352C384 339.2 364.8 339.2 352 352S339.2 384 352 396.8L467.2 512 352 627.2c-12.8 12.8-12.8 32 0 44.8s32 12.8 44.8 0L512 556.8l115.2 115.2c12.8 12.8 32 12.8 44.8 0s12.8-32 0-44.8L556.8 512l115.2-115.2C684.8 384 684.8 364.8 672 352z"
            />
          </svg>
        </template>
      </IconButton>
    </div>
    <h1 class="">Add a new task to your todo list</h1>
    <form v-on:submit.prevent="saveTask" class="space-y-5">
      <div class="space-x-5">
        <label for="task-name" class="text-gray-600">Name of task</label>
        <input
          type="text"
          id="task-name"
          v-model="name"
          required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md p-1.5"
          placeholder="Fill the task name"
        />
      </div>
      <div>
        <input
          type="submit"
          name=""
          value="Save task"
          class="text-white bg-blue-700 px-4 py-1 rounded-md cursor-pointer"
        />
      </div>
    </form>
  </div>
</template>

<script lang="ts">
// @ts-ignore
import IconButton from '../../ui/IconButton/IconButton.vue'

export default {
  components: { IconButton },

  emits: ['onCloseFormTask', 'onSaveTask'],
  data() {
    return {
      name: ''
    }
  },
  methods: {
    saveTask() {
      // console.log(this.name)
      this.$emit('onSaveTask', this.name)
      this.name = ''
    }
  }
}
</script>

<style lang="scss" scoped>
.task-form {
  h1 {
    font-size: 20px;
  }
}
</style>
