<template>
  <span
    class=""
    :class="[
      size == 'v-small' ? 'text-xs' : '',
      size == 'small' ? 'text-sm' : '',
      size == 'medium' ? 'text-md' : '',
      size == 'large' ? 'text-lg' : '',
      size == 'v-large' ? 'text-xl' : '',
      size == 'ex-large' ? 'text-2xl' : ''
    ]"
    ><slot>Element</slot></span
  >
</template>

<script lang="ts" setup>
const props = withDefaults(
  defineProps<{
    /**
     * size of element
     */
    size?: string
  }>(),
  { size: 'small' }
)
function withDefaults(arg0: any, arg1: { size: string }) {
  throw new Error('Function not implemented.')
}

function defineProps<T>(): any {
  throw new Error('Function not implemented.')
}
</script>

<style></style>
