<template>
  <button
    class="border border-gray-50 p-2 hover:bg-gray-300 hover:text-black mx-auto"
    :style="{
      backgroundColor: getBackgroundForOrtherMonth(isPresentOnMonth, backgroundOrtherMonth)
    }"
    @click="() => emits('picked')"
  >
    <span
      class="rounded-full p-1 block"
      :style="{
        backgroundColor: getBackgroundColor(isPicked, backgroundPicker),
        color: isPicked ? '#fff' : getColor(color, isToday, colorOfToday),
        width: '30px',
        height: '30px'
      }"
    >
      <slot name="day">12</slot>
    </span>
  </button>
</template>

<script lang="ts" setup>
const props = defineProps<{
  /**
   * Color of text
   */
  color?: string
  /**
   * is today or not
   */
  isToday?: boolean
  /**
   * is selected or not
   */
  isPicked?: boolean
  /**
   * is day present on this month or not
   */
  isPresentOnMonth?: boolean
  /**
   * background for picker day
   */
  backgroundPicker?: string
  /**
   * background for day in orhter month
   */
  backgroundOrtherMonth?: string
  /**
   * Today color
   */
  colorOfToday?: string
}>()
const emits = defineEmits<{
  (e: 'picked'): void
}>()
const getBackgroundColor = (isPicked?: boolean, background?: string) => {
  return isPicked ? background : 'transparent'
}
const getColor = (color?: string, isToday?: boolean, colorOfToday?: string) => {
  return isToday ? colorOfToday ?? color ?? '#000' : color ?? '#000'
}
const getBackgroundForOrtherMonth = (
  isPresentOnMonth?: boolean,
  backgroundOrtherMonth?: string
) => {
  return !isPresentOnMonth ? backgroundOrtherMonth : 'none'
}
</script>

<style></style>
