<template>
  <div
    class="flex flex-row items-center justify-between border border-gray-100 rounded-md px-2 py-2"
  >
    <div class="flex flex-row items-center space-x-4">
      <div class="">
        <RadioButton
          :is-check="task.isCompleted ?? false"
          @onClick="
            () => {
              $emit('onClick', task)
            }
          "
        />
      </div>
      <div class="flex flex-col">
        <span class="text-gray-800" :class="{ 'line-through': task.isCompleted }"
          ><slot name="task-title">{{ task.name }}</slot></span
        >
        <span class="text-gray-600 text-sm" v-if="!task.isCompleted"
          ><slot name="task-date">Due: {{ dateInString(task.date) }}</slot></span
        >
      </div>
    </div>
    <div class="flex flex-col items-end justify-center space-y-0.5">
      <Badge class="bg-blue-100 text-blue-800 text-xs" title="Priority 01" />
      <span class="text-2xl text-right mr-1 text-gray-500">
        <svg
          class="svg-icon"
          style="
            width: 1em;
            height: 1em;
            vertical-align: middle;
            fill: currentColor;
            overflow: hidden;
          "
          viewBox="0 0 1024 1024"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M640 514.24L445.76 320l-48 48L544 514.24l-146.24 146.24 48 48L640 514.24z" />
        </svg>
      </span>
    </div>
  </div>
</template>

<script lang="ts" setup>
// @ts-ignore
import RadioButton from '../RadioButton/RadioButton.vue'
import Badge from '../Badge/Badge.vue'
import type { ITask } from '../../infra/types/interfaces/task.interface'
const props = defineProps<{
  /**
   * Task
   */
  task: ITask
}>()
const emits = defineEmits<{
  (e: 'onClick', {}): void
}>()

const dateInString = (dateString: string | undefined) => {
  console.log(dateString)
  if (!dateString) return ''
  const time = Date.parse(dateString)
  const date = new Date(time)

  const day: string = new Intl.DateTimeFormat('fr-FR', { weekday: 'long' }).format(date)
  const month = new Intl.DateTimeFormat('fr-fr', { month: 'long' }).format(date)
  return `${day}, ${date.getDate()} ${month} ${date.getFullYear()}`
}
</script>

<style></style>
