<template>
  <div class="flex items-center justify-center bg-black py-1 px-10">
    <div class="flex flex-row items-center justify-center space-x-2">
      <IconButton :outlined="false" color="#fff" size="medium">
        <template #icon>
          <svg
            class="svg-icon"
            style="
              width: 1.2em;
              height: 1.2em;
              vertical-align: middle;
              fill: currentColor;
              overflow: hidden;
            "
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1011.061124 325.817725c7.12115 0 12.938876-6.09715 12.938876-12.938876l0-67.210876c0-7.12115-5.493124-12.938876-12.938876-12.938876L12.938876 232.729098c-7.12115 0-12.938876 6.09715-12.938876 12.938876l0 67.210876c0 7.12115 5.493124 12.938876 12.938876 12.938876L1011.061124 325.817725z"
            />
            <path
              d="M0 545.606275c0 7.12115 5.493124 12.938876 12.938876 12.938876l998.120575 0c7.12115 0 12.938876-6.09715 12.938876-12.938876l0-67.210876c0-7.168-5.493124-12.938876-12.938876-12.938876L12.938876 465.456523c-7.12115 0-12.938876 6.09715-12.938876 12.938876L0 545.606275z"
            />
            <path
              d="M0 778.333699c0 7.12115 5.493124 12.938876 12.938876 12.938876l998.120575 0c7.12115 0 12.938876-6.09715 12.938876-12.938876l0-67.210876c0-7.12115-5.493124-12.938876-12.938876-12.938876L12.938876 698.183948c-7.12115 0-12.938876 6.09715-12.938876 12.938876L0 778.333699z"
            />
          </svg>
        </template>
      </IconButton>
      <Typography size="v-large">
        <span class="text-white">2do</span>
      </Typography>
    </div>
    <div class="grow flex items-center justify-center">
      <SearchInput placeholder="Search anything" background="#242424" color="#fff" />
    </div>
    <div class="flex flex-row">
      <Avatar image="https://i.pravatar.cc/150?img=3" type="rounded-full" />
    </div>

    <!-- <IconButton :outlined="false" color="text-red-500" size="large" />
    <SearchInput placeholder="Search anything" background="#242424" color="#fff" /> -->
  </div>
</template>

<script>
import IconButton from '../../ui/IconButton/IconButton.vue'
import SearchInput from '../../ui/SearchInput/SearchInput.vue'
import Typography from '../../ui/Typography/Typography.vue'
import Avatar from '../../ui/Avatar/Avatar.vue'
export default {
  components: {
    IconButton,
    SearchInput,
    Typography,
    Avatar
  }
}
</script>

<style></style>
