<template>
  <div class="space-y-2 px-5 py-2 relative">
    <Button
      :outlined="true"
      color="#000000"
      bg-color="#0866f3"
      :has-border="false"
      @click="() => (isCalendarOpen = !isCalendarOpen)"
    >
      <template #icon-button></template>
      <template #text-button>{{ dateInString }}</template>
    </Button>
    <div v-if="isCalendarOpen">
      <div
        class="w-[400px] shadow-md px-2 py-2 border border-gray-100 rounded-md absolute z-50 bg-white"
      >
        <Calendar
          :day="day"
          :days="days"
          :today="today"
          :month="month"
          @change-date="
            (day) => {
              pickedDate(day)
            }
          "
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
// @ts-ignore

import { generateMonth, isDayEqual } from '@/infra/helpers/calendar.helper'
import Button from '../../ui/Button/Button.vue'
import Calendar from './Calendar.vue'
import { getDay } from '../../infra/helpers/calendar.helper'
import type { IDay, IMonth } from '../../infra/types/interfaces/date.interace'
import type { PropType } from 'vue'
export default {
  components: { Button, Calendar },
  emits: ['onSelectDate'],
  data() {
    return {
      date: new Date() as Date,
      selectDate: new Date() as Date,
      month: {} as IMonth | null,
      isCalendarOpen: false,
      days: [] as IDay[],
      today: {} as IDay,
      day: {} as IDay
    }
  },
  computed: {
    dateInString() {
      const date = this.selectDate ?? new Date()
      const day: string = new Intl.DateTimeFormat('fr-FR', { weekday: 'long' }).format(date)
      const month = new Intl.DateTimeFormat('fr-fr', { month: 'long' }).format(date)
      return `${day}, ${date.getDate()} ${month} ${date.getFullYear()}`
    }
  },
  methods: {
    buildMonth(dateInput: Date) {
      const month = generateMonth(dateInput.getFullYear(), dateInput.getMonth())
      return month
    },
    buildToday() {
      return getDay(new Date())
    },
    isDayToday(otherDay: IDay) {
      if (this.today) return isDayEqual(this.today, otherDay)
      return false
    },
    isPresentOnMounth(day: IDay) {
      return day.monthNumber === this.month?.value
    },
    getAllDays() {
      if (this.month && this.date) {
        const oldDays = this.month.days
        const firstDay = oldDays[0]
        const lastDay = oldDays[oldDays.length - 1]
        const prevDays = []
        const nextDays = []
        if (firstDay.numero > 0) {
          // find extra day in prev month
          // if month is january we will go back to december of lastyear
          const year =
            this.month.value === 0 ? this.date.getFullYear() - 1 : this.date.getFullYear()
          const numberOfMonth = this.month.value === 0 ? 11 : this.date.getMonth() - 1
          const daysOfPrevMonth = generateMonth(year, numberOfMonth)?.days
          if (daysOfPrevMonth) {
            for (let i = 0; i < firstDay.numero; i++) {
              prevDays.unshift(daysOfPrevMonth[daysOfPrevMonth.length - (i + 1)])
            }
          }
        }
        if (lastDay.numero < 6) {
          // find extra day in next month
          // if month is december we will go to january of nextyear
          const year =
            this.month.value === 11 ? this.date.getFullYear() + 1 : this.date.getFullYear()
          const numberOfMonth = this.month.value === 11 ? 0 : this.date.getMonth() + 1
          const daysOfNextMonth = generateMonth(year, numberOfMonth)?.days
          if (daysOfNextMonth) {
            let j = 0
            for (let i = lastDay.numero + 1; i < 7; i++) {
              nextDays.push(daysOfNextMonth[j])
              j++
            }
          }
        }
        this.days = [...prevDays, ...oldDays, ...nextDays]
      }
    },
    pickedDate(day: IDay) {
      this.days = this.days.map((d: IDay) => {
        if (day.value === d.value && d.monthNumber === day.monthNumber) d.isPicked = true
        else d.isPicked = false
        return d
      })
      this.selectDate = new Date(day.year, day.monthNumber, day.value)
      this.isCalendarOpen = false
      this.$emit('onSelectDate', this.selectDate)
    }
  },
  created() {
    this.date = new Date()
    this.month = this.buildMonth(this.date)
    this.getAllDays()
    this.today = this.buildToday()
  }
}
</script>

<style></style>
