<template>
  <div class="flex flex-col">
    <div class="days grid grid-cols-7">
      <span class="text-center">D</span>
      <span class="text-center">L</span>
      <span class="text-center">M</span>
      <span class="text-center">M</span>
      <span class="text-center">J</span>
      <span class="text-center">V</span>
      <span class="text-center">S</span>
    </div>
    <div class="grid grid-cols-7">
      <DayPicker
        @picked="(e) => $emit('changeDate', day)"
        color="#000"
        color-of-today="#0094ff"
        :is-today="isDayToday(day)"
        :is-picked="day.isPicked"
        :is-present-on-month="isPresentOnMounth(day)"
        background-picker="#000"
        background-orther-month="#efefef"
        v-for="(day, index) in days"
        :key="index"
        ><template #day>{{ day.value }}</template></DayPicker
      >
    </div>
  </div>
</template>

<script lang="ts">
// @ts-ignore
import type { IDay, IMonth } from '../../infra/types/interfaces/date.interace'
import { generateMonth, getDay, isDayEqual } from '../../infra/helpers/calendar.helper'
import { type PropType } from 'vue'
import DayPicker from '../../ui/DayPicker/DayPicker.vue'

export default {
  props: {
    day: Object as PropType<IDay>,
    today: Object as PropType<IDay>,
    days: Object as PropType<IDay[]>,
    month: Object as PropType<IMonth | null>
  },
  emits: {
    changeDate(payload: any) {
      return true
    }
  },
  components: {
    DayPicker
  },
  data() {
    return {
      // month: null as IMonth | null,
      // today: null as IDay | null,
      // days: [] as IDay[]
    }
  },
  watch: {
    // date(newDate, oldDate) {
    //   this.month = this.buildMonth(newDate)
    // },
    // month() {
    //   this.getAllDays()
    // }
  },
  computed: {},
  methods: {
    // buildMonth(dateInput: Date) {
    //   const month = generateMonth(dateInput.getFullYear(), dateInput.getMonth())
    //   return month
    // },
    // buildToday() {
    //   return getDay(new Date())
    // },

    // getAllDays() {
    //   if (this.month && this.date) {
    //     const oldDays = this.month.days
    //     const firstDay = oldDays[0]
    //     const lastDay = oldDays[oldDays.length - 1]
    //     const prevDays = []
    //     const nextDays = []
    //     if (firstDay.numero > 0) {
    //       // find extra day in prev month
    //       // if month is january we will go back to december of lastyear
    //       const year =
    //         this.month.value === 0 ? this.date.getFullYear() - 1 : this.date.getFullYear()
    //       const numberOfMonth = this.month.value === 0 ? 11 : this.date.getMonth() - 1
    //       const daysOfPrevMonth = generateMonth(year, numberOfMonth)?.days
    //       if (daysOfPrevMonth) {
    //         for (let i = 0; i < firstDay.numero; i++) {
    //           prevDays.unshift(daysOfPrevMonth[daysOfPrevMonth.length - (i + 1)])
    //         }
    //       }
    //     }
    //     if (lastDay.numero < 6) {
    //       // find extra day in next month
    //       // if month is december we will go to january of nextyear
    //       const year =
    //         this.month.value === 11 ? this.date.getFullYear() + 1 : this.date.getFullYear()
    //       const numberOfMonth = this.month.value === 11 ? 0 : this.date.getMonth() + 1
    //       const daysOfNextMonth = generateMonth(year, numberOfMonth)?.days
    //       if (daysOfNextMonth) {
    //         let j = 0
    //         for (let i = lastDay.numero + 1; i < 7; i++) {
    //           nextDays.push(daysOfNextMonth[j])
    //           j++
    //         }
    //       }
    //     }
    //     this.days = [...prevDays, ...oldDays, ...nextDays]
    //   }
    // },
    // pickedDate(day: IDay) {
    //   this.days = this.days.map((d: IDay) => {
    //     if (day.value === d.value && d.monthNumber === day.monthNumber) d.isPicked = true
    //     else d.isPicked = false
    //     return d
    //   })
    // }

    isDayToday(otherDay: IDay) {
      if (this.today) return isDayEqual(this.today, otherDay)
      return false
    },
    isPresentOnMounth(day: IDay) {
      return day.monthNumber === this.month?.value
    }
  },
  mounted() {
    // if (this.date) {
    //   this.month = this.buildMonth(this.date)
    //   this.today = this.buildToday()
    // }
  }
}
</script>

<style></style>
