<template>
  <div class="bg-[#f5f5f5] h-full px-10 w-full py-3">
    <ul class="space-y-3">
      <menu-item
        :is-activate="menuItem.isActivate"
        color="#777777"
        activated-color="#0075ff"
        v-on:activate="activateItem(menuItem.id)"
        v-for="menuItem in menuArray"
        :key="menuItem.id"
      >
        <template #icon-item>
          <span v-html="menuItem.icon"></span>
        </template>
        <template #text-item>{{ menuItem.title }}</template>
      </menu-item>
    </ul>
  </div>
</template>

<script>
import MenuItem from '../../ui/MenuItem/MenuItem.vue'
import { generateMonth, generateWeek, getDay } from '../../infra/helpers/calendar.helper'
const day = new Date(2023, 11, 31)
const month = generateMonth(day.getFullYear(), day.getMonth())
const theDay = getDay(day)
const week = generateWeek(day.getFullYear(), month, theDay)

// const newmonth = generateMonth(2023, 10)
// console.log(newmonth)
console.log(week)
export default {
  components: {
    MenuItem
  },
  data() {
    return {
      menuArray: [
        {
          id: 1,
          title: 'Home',
          icon: `<svg
            class="svg-icon"
            style="
              width: 1.2em;
              height: 1.2em;
              vertical-align: middle;
              fill: currentColor;
              overflow: hidden;
            "
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M921.764 518.884l-412.854-386.018-412.854 384.884c-8.077 7.53-8.527 20.193-0.979 28.261 7.54 8.063 20.218 8.518 28.289 0.971l385.514-359.379 385.531 360.473c3.868 3.614 8.778 5.4 13.678 5.4 5.335 0 10.673-2.119 14.61-6.336 7.555-8.063 7.139-20.714-0.936-28.256l0 0zM921.764 518.884zM795.781 526.813c-11.05 0-20.015 8.959-20.015 19.995l0 306.597-160.123 0 0-213.284-213.495 0 0 213.284-160.118 0 0-306.597c0-11.036-8.955-19.995-20.014-19.995-11.065 0-20.018 8.959-20.018 19.995l0 346.586 240.183 0 0-213.283 133.434 0 0 213.283 240.177 0 0-346.586c0.001-11.036-8.965-19.995-20.011-19.995l0 0zM795.781 526.813zM655.677 240.214l120.089 0 0 106.64c0 11.053 8.965 20 20.015 20 11.047 0 20.012-8.947 20.012-20l0-146.629-160.117 0c-11.053 0-20.018 8.942-20.018 19.995-0.001 11.049 8.965 19.995 20.018 19.995l0 0zM655.677 240.214z"
            />
          </svg>`,
          isActivate: true
        },
        {
          id: 2,
          title: 'Today',
          icon: `<svg class="svg-icon" style="width: 1.2em; height: 1.2em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M810.666667 128h-42.666667V42.666667h-85.333333v85.333333H341.333333V42.666667H256v85.333333H213.333333c-46.933333 0-85.333333 38.4-85.333333 85.333333v597.333334c0 46.933333 38.4 85.333333 85.333333 85.333333h597.333334c46.933333 0 85.333333-38.4 85.333333-85.333333V213.333333c0-46.933333-38.4-85.333333-85.333333-85.333333z m0 682.666667H213.333333V341.333333h597.333334v469.333334z"  /><path d="M298.666667 426.666667h213.333333v213.333333H298.666667z"  /></svg>`,
          isActivate: false
        }
      ]
    }
  },
  methods: {
    activateItem(itemId) {
      this.menuArray.map((item) => {
        item.id === itemId ? (item.isActivate = true) : (item.isActivate = false)
        return item
      })
    }
  }
}
</script>

<style></style>
