<template>
  <div class="">
    <div class="flex flex-row">
      <button-calendar @on-select-date="(e) => $emit('onChangeDate', e)"></button-calendar>
      <div class="flex items-center">
        <Button :outlined="true" color="#000000" bg-color="#0866f3" :has-border="false">
          <template #icon-button>
            <svg
              class="svg-icon"
              style="
                width: 1.2em;
                height: 1.2em;
                vertical-align: middle;
                fill: currentColor;
                overflow: hidden;
              "
              viewBox="0 0 1024 1024"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M872.533333 134.4c-12.8-10.666667-29.866667-17.066667-49.066666-17.066667H198.4C157.866667 117.333333 123.733333 151.466667 123.733333 192c0 17.066667 6.4 34.133333 17.066667 49.066667l256 302.933333v251.733333c0 12.8 6.4 23.466667 17.066667 27.733334l162.133333 81.066666c4.266667 2.133333 8.533333 4.266667 14.933333 4.266667 6.4 0 10.666667-2.133333 17.066667-4.266667 8.533333-6.4 14.933333-17.066667 14.933333-27.733333V541.866667l256-302.933334c12.8-14.933333 19.2-34.133333 17.066667-53.333333 2.133333-19.2-6.4-38.4-23.466667-51.2z m-38.4 64L569.6 509.866667c-4.266667 6.4-8.533333 12.8-8.533333 21.333333v292.266667l-98.133334-49.066667V531.2c0-8.533333-2.133333-14.933333-8.533333-21.333333L189.866667 198.4c0-2.133333-2.133333-4.266667-2.133334-6.4 0-6.4 4.266667-10.666667 10.666667-10.666667h625.066667c2.133333 0 4.266667 0 6.4 2.133334 2.133333 2.133333 4.266667 6.4 4.266666 6.4 2.133333 2.133333 2.133333 6.4 0 8.533333z"
              />
            </svg>
          </template>
          <template #text-button>Sort & Filter</template>
        </Button>
        <Button :outlined="true" color="#000000" bg-color="#0866f3" :has-border="false">
          <template #icon-button>
            <svg
              class="svg-icon"
              style="
                width: 1.2em;
                height: 1.2em;
                vertical-align: middle;
                fill: currentColor;
                overflow: hidden;
              "
              viewBox="0 0 1024 1024"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M872.533333 134.4c-12.8-10.666667-29.866667-17.066667-49.066666-17.066667H198.4C157.866667 117.333333 123.733333 151.466667 123.733333 192c0 17.066667 6.4 34.133333 17.066667 49.066667l256 302.933333v251.733333c0 12.8 6.4 23.466667 17.066667 27.733334l162.133333 81.066666c4.266667 2.133333 8.533333 4.266667 14.933333 4.266667 6.4 0 10.666667-2.133333 17.066667-4.266667 8.533333-6.4 14.933333-17.066667 14.933333-27.733333V541.866667l256-302.933334c12.8-14.933333 19.2-34.133333 17.066667-53.333333 2.133333-19.2-6.4-38.4-23.466667-51.2z m-38.4 64L569.6 509.866667c-4.266667 6.4-8.533333 12.8-8.533333 21.333333v292.266667l-98.133334-49.066667V531.2c0-8.533333-2.133333-14.933333-8.533333-21.333333L189.866667 198.4c0-2.133333-2.133333-4.266667-2.133334-6.4 0-6.4 4.266667-10.666667 10.666667-10.666667h625.066667c2.133333 0 4.266667 0 6.4 2.133334 2.133333 2.133333 4.266667 6.4 4.266666 6.4 2.133333 2.133333 2.133333 6.4 0 8.533333z"
              />
            </svg>
          </template>
          <template #text-button>View</template>
        </Button>
        <Button
          :outlined="false"
          color="#fff"
          bg-color="#000"
          :has-border="false"
          @click="() => (showTaskForm = true)"
        >
          <template #icon-button>
            <svg
              class="svg-icon"
              style="
                width: 1.2em;
                height: 1.2em;
                vertical-align: middle;
                fill: currentColor;
                overflow: hidden;
              "
              viewBox="0 0 1024 1024"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M800 480l-256 0L544 224c0-17.664-14.336-32-32-32s-32 14.336-32 32l0 256L224 480c-17.664 0-32 14.336-32 32s14.336 32 32 32l256 0 0 256c0 17.696 14.336 32 32 32s32-14.304 32-32l0-256 256 0c17.696 0 32-14.336 32-32S817.696 480 800 480z"
              />
            </svg>
          </template>
          <template #text-button>ADD A TASK</template>
        </Button>
      </div>
    </div>
    <div
      v-if="showTaskForm"
      class="absolute z-50 bg-gray-400 h-full w-full top-0 left-0 bg-opacity-80 flex flex-col justify-center items-center"
    >
      <div class="bg-white min-w-[400px] mx-auto p-5 rounded-md">
        <TaskForm
          @onCloseFormTask="() => (showTaskForm = false)"
          @onSaveTask="
            (e) => {
              $emit('onSendToSave', e)
              showTaskForm = false
            }
          "
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
// @ts-ignore

import ButtonCalendar from './ButtonCalendar.vue'
import Button from '../../ui/Button/Button.vue'
import TaskForm from '../../domain/tasks/TaskForm.vue'

export default {
  components: { ButtonCalendar, Button, TaskForm },
  emits: ['onSendToSave', 'onChangeDate'],

  data() {
    return {
      date: null,
      showTaskForm: false
    }
  },
  methods: {}
}
</script>

<style></style>
