<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import AppBar from './components/AppBar.vue'
import LeftBar from './components/LeftBar.vue'
import ToolBar from './components/ToolBar.vue'
import Calendar from './components/Calendar.vue'
</script>

<template>
  <header><AppBar /></header>
  <div class="h-screen grid grid-cols-12">
    <aside class="h-full col-span-2">
      <LeftBar />
    </aside>
    <div class="col-span-10 relative">
      <RouterView />
    </div>
  </div>
</template>
<script lang="ts">
export default {
  data() {
    return {}
  },
  methods: {}
}
</script>

<style scoped></style>
