<template>
  <li
    class="flex flex-row items-center gap-1 cursor-pointer"
    :style="{ color: isActivate ? activatedColor : color }"
    @click="onActivateItem"
  >
    <slot name="icon-item">
      <svg
        class="svg-icon"
        style="
          width: 1em;
          height: 1em;
          vertical-align: middle;
          fill: currentColor;
          overflow: hidden;
        "
        viewBox="0 0 1024 1024"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M921.764 518.884l-412.854-386.018-412.854 384.884c-8.077 7.53-8.527 20.193-0.979 28.261 7.54 8.063 20.218 8.518 28.289 0.971l385.514-359.379 385.531 360.473c3.868 3.614 8.778 5.4 13.678 5.4 5.335 0 10.673-2.119 14.61-6.336 7.555-8.063 7.139-20.714-0.936-28.256l0 0zM921.764 518.884zM795.781 526.813c-11.05 0-20.015 8.959-20.015 19.995l0 306.597-160.123 0 0-213.284-213.495 0 0 213.284-160.118 0 0-306.597c0-11.036-8.955-19.995-20.014-19.995-11.065 0-20.018 8.959-20.018 19.995l0 346.586 240.183 0 0-213.283 133.434 0 0 213.283 240.177 0 0-346.586c0.001-11.036-8.965-19.995-20.011-19.995l0 0zM795.781 526.813zM655.677 240.214l120.089 0 0 106.64c0 11.053 8.965 20 20.015 20 11.047 0 20.012-8.947 20.012-20l0-146.629-160.117 0c-11.053 0-20.018 8.942-20.018 19.995-0.001 11.049 8.965 19.995 20.018 19.995l0 0zM655.677 240.214z"
        />
      </svg>
    </slot>
    <slot name="text-item">Home</slot>
  </li>
</template>

<script lang="ts" setup>
const props = defineProps<{
  /**
   * item is activate or not
   */
  isActivate?: boolean
  /**
   * color of item
   */
  color?: string

  /**
   * activate color
   */
  activatedColor?: string
}>()
const emits = defineEmits<{
  (e: 'activate'): void
}>()
function onActivateItem() {
  emits('activate')
}
</script>

<style></style>
