<template>
  <span class="font-medium mr-2 px-2.5 py-0.5 rounded">{{ title }}</span>
</template>

<script lang="ts" setup>
const props = defineProps<{
  /**
   * Title of badge
   */
  title: string
}>()
</script>

<style></style>
