<template>
  <img
    class="w-10 h-10"
    :src="image"
    alt="Rounded avatar"
    :class="[type === 'rounded' ? 'rounded-lg' : '', type === 'rounded-full' ? 'rounded-full' : '']"
  />
</template>

<script lang="ts" setup>
const props = defineProps<{
  /**
   * Image of avatar
   */
  image: string
  /**
   * type of avatar
   */
  type?: string
}>()
</script>

<style></style>
