<template>
  <div class="flex flex-row items-center justify-between space-x-5">
    <IconButton :outlined="false" color="#ff0000" @onClick="$emit('getPrev')">
      <template #icon>
        <svg
          class="svg-icon"
          style="
            width: 1.2em;
            height: 1.2em;
            vertical-align: middle;
            fill: currentColor;
            overflow: hidden;
          "
          viewBox="0 0 1024 1024"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M695.04 840.32 399.36 541.44l285.44-295.04c12.16-12.8 12.16-33.28 0-45.44-12.16-12.8-32-12.8-44.16 0l-309.76 320c-12.16 12.8-12.16 33.28 0 45.44C333.44 568.96 336 570.24 339.2 572.16l311.04 314.24c12.8 12.8 32.64 12.8 45.44 0C707.2 873.6 707.2 853.12 695.04 840.32z"
            fill="#000"
          />
        </svg>
      </template>
    </IconButton>

    <span class="">
      <slot>January</slot>
    </span>
    <IconButton
      :outlined="false"
      color="#ff0000"
      style="transform: rotate(180deg)"
      @onClick="$emit('getNext')"
    >
      <template #icon>
        <svg
          class="svg-icon"
          style="
            width: 1.2em;
            height: 1.2em;
            vertical-align: middle;
            fill: currentColor;
            overflow: hidden;
          "
          viewBox="0 0 1024 1024"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M695.04 840.32 399.36 541.44l285.44-295.04c12.16-12.8 12.16-33.28 0-45.44-12.16-12.8-32-12.8-44.16 0l-309.76 320c-12.16 12.8-12.16 33.28 0 45.44C333.44 568.96 336 570.24 339.2 572.16l311.04 314.24c12.8 12.8 32.64 12.8 45.44 0C707.2 873.6 707.2 853.12 695.04 840.32z"
            fill="#000"
          />
        </svg>
      </template>
    </IconButton>
  </div>
</template>

<script lang="ts" setup>
import IconButton from '../IconButton/IconButton.vue'
const props = defineProps<{}>()
const emits = defineEmits<{
  (e: 'getPrev'): void
  (e: 'getNext'): void
}>()
</script>

<style></style>
